<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Ejercicio 2</title>
</head>
<body>
    <h1>Resultados</h1>
    <ul>
        <li>Número de muestras: {{ num_muestras }}</li>
        <li>Media de fechas de cambio de contraseña: {{media_fechas}}</li>
        <li>Desviación estándar de fechas de cambio de contraseña: {{std_fechas }}</li>
        <li>Media de IPs detectadas:{{media_ips }}</li>
        <li>Desviación estándar de IPs detectadas:{{std_ips}}</li>
        <li>Media de emails de phishing:{{media_phishing}}</li>
        <li>Desviación estándar de emails de phishing:{{std_phishing}}</li>
        <li>Mínimo de emails totales recibidos:{{min_email_total}}</li>
        <li>Máximo de emails totales recibidos:{{max_email_total}}</li>
        <li>Mínimo de emails de phishing de administrador:{{min_email_admin}}</li>
        <li>Máximo de emails de phishing de administrador:{{max_email_admin}}</li>


    </ul>

</body>
</html>
